<div>
    <p>AB Fashion Jewelry</p>

</div>

<div>
    <a href="https://www.facebook.com/share/14M7JLhgJP7/"><img src="images/facebook-icon.webp" alt="facebook page"
            width="50" height="50"></a>
    <a href="https://www.instagram.com/bisuteriaalmabarraza?igsh=MTM0MDh0djVpc25nNQ=="><img
            src="images/instagram-icon.webp" alt="instagram page" width="50" height="50"></a>
    <a href="https://www.whatsapp.com/"><img src="images/whatsapp-icon.svg" alt="whatsapp page" width="50"
            height="50"></a>
</div>
<div>
    <p>© <span id="currentyear"></span> Alma Delia Barraza Raygoza México</p>
    <p><span id="lastModified"></span></p>
</div>